---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "../../lib/utils";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"posts">;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout
  title={post.data.title}
  description={post.data.description}
  image={post.data.image}
>
  <main>
    <p class="mb-1 text-sm text-zinc-800">
      {formatDate(post.data.date)}
    </p>

    <h1 class="mb-1 text-xl font-medium">
      {post.data.title}
    </h1>
    <hr class="mb-2 mt-2" />
    <span
      class="inline-flex items-center justify-center rounded-full bg-emerald-100 px-2.5 py-0.5 text-emerald-700"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="-ms-1 me-1.5 size-4"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
        ></path>
      </svg>

      <p class="whitespace-nowrap text-sm">Paid</p>
    </span>

    <article>
      <Content />
    </article>
  </main>
</Layout>

<style>
  .text-zinc-800 {
    --tw-text-opacity: 1;
    color: rgb(161 161 172);
  }
</style>
