---
import { getCollection } from "astro:content";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "../../lib/utils";

const collection = await getCollection("posts");
const posts = collection.sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <ul class="flex flex-col gap-1.5">
      {
        posts.map((post) => (
          <li class="mt-4">
            <div class="mt-2 text-xs">
              <span class="text-nowrap text-zinc-500">
                {formatDate(post.data.date)}
              </span>
              <a
                href="#"
                class="relative z-10 ml-2 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100"
              >
                Marketing
              </a>
            </div>
            <a
              href={`/posts/${post.slug}`}
              class="group mt-2 flex justify-between gap-3"
            >
              <span class="font-medium group-hover:underline">
                {post.data.title}
              </span>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
