---
import { getCollection } from "astro:content";
import AnimatedTag from "../../components/AnimatedTag.astro";
import GolangTag from "../../components/GopherTag.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "../../lib/utils";
import GopherTag from "../../components/GopherTag.astro";

const collection = await getCollection("posts");
const posts = collection.sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <ul class="flex flex-col gap-1.5">
      {
        posts.map((post) => (
          <li class="mt-4">
            <div class="inline-flex items-center text-xs">
              <span class="text-nowrap text-zinc-500">
                {formatDate(post.data.date)}
              </span>
            </div>
            <a
              href={`/posts/${post.slug}`}
              class="group flex justify-between gap-3"
            >
              <div class="flex flex-col">
                <div class="flex-inline align-center flex items-center gap-2">
                  <span class="font-medium group-hover:underline">
                    {post.data.title}
                  </span>
                  {post.data.tags.find((tag) => tag === "animated") && (
                    <AnimatedTag/>
                  )}
                  {post.data.tags.find((tag) => tag === "golang") && (
                    <GopherTag/>
                  )}
                </div>

                <span class="text-sm">{post.data.description}</span>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
